*{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

main{
    display: flex;
    flex-wrap: wrap;
}

body{
    background: #424769;
    font-family: 'Arial', sans-serif;
}

h1{
    text-align: center;
    color: #fff;
}

.navigation{
    padding: 2px;
    background: #7077A1;
    border-radius: 10px;   
}

.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navigation ul a{
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    transition: 0.5s;
}

.navigation ul a:hover{
    color: #F6B17A;
}

/* Style for cart container */
.cart-items {
    display: flex;
    flex-wrap: wrap;
}

/* Style for each cart item */
.cart-item {
    width: 300px;
    height: auto;
    margin: 1rem;
    background-color: #7077A1;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.cart-item:hover{
    transform: scale(1.025);
    transition: transform 0.2s ease-in-out;
}

.cart-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.cart-item .cart-item-info {
    color: #fff;
    display: flex;
    flex-direction: column; /* Stack movie data vertically */
    flex-grow: 1;
}

.cart-item-info h3 {
    padding-left: 10px;
    margin: 0 0 0.25rem; 
    white-space: normal;
    width: 100%;
}

.cart-item-info span{
    background-color: #7077A1;
    padding-left: 10px;
    border-radius: bold;
    border-radius: 3px;
    margin-right: 0.5rem;
}

.cart-item-info span i{
    color: gold;
    padding-right: 5px;
}

.cart-item span.green{
    color: lightgreen;
}
.cart-item span.orange{
    color: orange;
}

.cart-item span.red{
    color: red;
}

.cart-item button {
    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ff5050;
    color: #fff;
    padding: 5px 10px;
    margin-top: auto;
    align-self: center;
}

.cart-item button:hover {
    background-color: #cc0000;
}

.cart-item .price{
    color: #fff;
    text-align: center;
    font-size: larger;
    letter-spacing: 0.5px;
}

.checkout-button-container {
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.checkout-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover{
    background-color: #006e0b;
}
