*{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
}

main{
    display: flex;
    flex-wrap: wrap;
}

body {
    background: #424769;
    font-family: 'Arial', sans-serif;

}

h1{
    text-align: center;
    color: #fff;
}

.navigation {
    padding: 2px;
    background: #7077A1;
    border-radius: 10px; 
}

.navigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navigation ul a{
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    transition: 0.5s;
}

.navigation ul a:hover{
    color: #F6B17A;
}

.orders-item {
    width: 300px;
    height: auto;
    margin: 1rem;
    background-color: #7077A1;
    box-shadow: 0 4px 5px rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.orders-item:hover{
    transform: scale(1.025);
    transition: transform 0.2s ease-in-out;
}

.orders-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.orders-item-info {
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.orders-item-info h3{
    padding-left: 10px;
    margin: 0 0 0.25rem; 
    white-space: normal;
    width: 100%;
}

.orders-item-info span{
    background-color: #7077A1;
    padding-left: 10px;
    border-radius: bold;
    border-radius: 3px;
    margin-right: 0.5rem; 
}

.orders-item-info span i{
    color: gold;
    padding-right: 5px;
}

.orders-item-info span.green{
    color: lightgreen;
}
.orders-item-info span.orange{
    color: orange;
}

.orders-item-info span.red{
    color: red;
}

.orders-item .price {
    color: #eee;
    text-align: center;
    font-size: larger;
    letter-spacing: 0.5px
}

